<footer id="footer" {%if request.path == '/' %}class="homepage-footer"{%endif%}>
  <div class="footer-content">
    &copy; Stucco Infraestructura y desarrollo
    <span class="gray-text">info@stucco.mx  &nbsp;|&nbsp; (228) 812 5116 | &nbsp;
        <a class="footer-social-link" href="https://www.facebook.com/stucco.desarrollos" target="_blank">
         <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a class="footer-social-link" href="https://twitter.com/stucco.desarrollos" target="_blank">
           <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a class="footer-social-link" href="https://www.instagram.com/stucco.desarrollos/" target="_blank">
           <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </span>
  </div>
</footer>