{% load static from staticfiles %}
<nav id="navbar">
  <div class="logo-container">
    <a href="{% url 'landing:homepage' %}"><img src="{% static 'img/logos/brick-gray-logo.png' %}" alt="Bricksa Logo"></a>
  </div>
  <div class="menu-container">
    <ul class="menu-list">
      <li><a href="{% url 'landing:homepage' %}">inicio</a></li>
      <li class="submenu-container">
        <a href="#">proyectos</a>
        <ul>
          <li><a href="{% url 'projects:project_list' %}?u=current%20projects">actuales</a></li>
          <li><a href="{% url 'projects:project_list' %}?u=completed%20projects">terminados</a></li>
        </ul>
      </li>
      <li><a href="{% url 'landing:services' %}">servicios</a></li>
      <li><a href="{% url 'landing:about' %}">nosotros</a></li>
      <li><a href="{% url 'landing:contact' %}">contacto</a></li>
    </ul>
  </div>
</nav>