.general-section.about
  .big-row
    background-image url('../img/about_us_cover.png')
    height 50vh
    min-height 440px
    position relative
    
    .title
      bottom 0
      color white
      font-size 90px
      font-weight $fontBlack
      left 70px
      line-height 0.6
      margin 0
      position absolute
      text-transform uppercase
      
  .small-row
    .big-column
      background $blue
      padding 80px 90px 100px 75px
      
      p:nth-child(2)
        margin-top 30px
    
    .small-column
      background $darkBlue