.general-section.contact
  .section-content.columns
    display flex
    
    .big-column
      background $blue
      flex-grow 1
      max-width 75%
      padding 110px 0 120px 125px
      z-index 2

    .small-column
      background $darkBlue
      content ' '
      width 25%
      
    .contact-form
      float left
      text-align right
      width 50%
      
      label, input, textarea
        display block
        text-align left

      label:not(.error)
        color white
        font-size 22px
        font-weight normal
        line-height 2.3
        
        &:not(:first-of-type)
          margin-top 15px
        
      input, textarea
        background white
        border solid 1px #979797
        font-size 22px
        padding 18.5px
        width 100%
        
      textarea
        height 196.3px
        resize none
        
      .bricksa-button
        border-width 3px
        letter-spacing 0.1px
        margin-top 50px
        padding 8px 30px
        
      .error
        color white
        font-size 18px
        font-weight normal
        margin-top 8px
        
    .contact-info
      background white
      margin-left calc(50% + 56px)
      margin-top 55px
      width 65%
      
      .text
        padding 36px 65px 0 50px
      
      .title, .mail, .phone
        display block
      
      .title
        color #4a4a4a
        font-size 21.6px
        letter-spacing 0.2px
        
      .mail
        margin-top 25px
        
      .phone
        margin-top 20px
        
      .map
        background $gray
        margin-top 74px
        height 289px