.general-section
  .section-title
    -center-block()
    width 88%
    
    span
      background $darkGray
      color white
      display inline-block
      rc-font-size 27px 21px 19px
      font-weight $fontBlack
      line-height 2.7em
      padding 5px 20px 0 20px
      text-align center
      text-transform uppercase
      width 400px
      
  .section-content-wrapper
    background #d8d8d8
  
  .section-content
    color #4a4a4a
    font-weight $fontMedium
    -center-block()
    width 88%
    
  .big-row
    height auto

  .small-row
    height auto
    
    .big-column
      color white
      max-width calc(100% - 329px)
      
    .small-column
      width 329px
    
  .columns
    display flex
    
  .big-column
    flex-grow 1
    
@media screen and (max-width: 999px)
  .general-section
    .section-title
      min-width 320px
      width 95%
      
      span
        min-width 320px
        width auto

    .section-content
      min-width 320px
      width 95%
      
@media screen and (max-width: 930px)
  .general-section
    .columns
      flex-wrap wrap
    
    .big-column, .small-column
      flex-basis 100% !important
      max-width initial !important
      width 100% !important