.homepage-banners
  height calc(100vh - 95px)
  width 100%
  
  #banners-carousel
    height 100%
    width 100%
    
    .slick-list,
    .slick-track
      height 100%
    
    .arrow-next
      background-image url('../img/icons/carousel-right-arrow.png')
      background-size cover
      display inline-block
      height 50px
      position absolute
      right 0
      top 50%
      transform translateY(-100%)
      width 50px
  
  .homepage-banner
    background-blend-mode multiply
    background-color rgba(black, 0.2)
    height 100%
    padding-top calc(50vh - 95px)
    position relative
    width 100%
    
    .banner-text-container
      align-items flex-end
      display flex
      height auto
      transform translateY(-50%)
      
      .banner-white-box
        background rgba(white, 80%)
        height 328px
        padding 32px 38px
        width 260px
        
        p
          rc-font-size 17px 12.5px
          line-height 1.8em
          margin-bottom 0
          
          &::before
            background $darkBlue
            content ' '
            display block
            height 3px
            margin-bottom 15px
            margin-top 5px
            width 30px
            
      .banner-info-container
        flex-grow 1
        text-align center
        
        .banner-info
          color white
          display inline-block
          flex-grow 1
          font-variant small-caps
          font-weight $fontBlack
          text-align left
          width auto
        
          .banner-title
            display inline-block
            rc-font-size 76px 50px 34px
            font-weight inherit
            line-height 0.75em
            margin 0
            max-width 520px
            min-width 280px
          
          .banner-motto
            display block
            rc-font-size 28px 21px 20px
            line-height 0.9
            margin-top 8px
            width 280px
            
          .bricksa-button
            margin-bottom 20px
            margin-top 120px
      
@media screen and (max-width: 865px)
  .homepage-banners .homepage-banner
    .banner-text-container .banner-info-container
      text-align left
      
      .banner-info .bricksa-button
        margin 80px 0 50px 0
  @media screen and (orientation: portrait)
    .homepage-banners .homepage-banner
      .banner-text-container
        align-items stretch
        flex-wrap wrap-reverse
        height calc(100% - 83px)
        margin 0 auto
        max-width 500px
        min-width 320px
        transform none
        width 80%
        
        .banner-white-box, .banner-info-container
          width 100%
          
        .banner-white-box
          height auto
          
  @media screen and (orientation: landscape)
    .homepage-banners .homepage-banner
      padding-top 0

      .banner-text-container
        align-items center
        flex-wrap wrap
        height calc(100% - 83px)
        margin 0 auto
        transform none
        width 100%
        
        .banner-white-box, .banner-info-container
          height 100%
          
        .banner-white-box
          width 250px
        
        .banner-info-container
          margin-left 50px
          
@media screen and (max-width: 800px)
  .homepage-banners
    height calc(100vh - 70px)

    .homepage-banner .banner-text-container
      .banner-white-box
        padding 23px
    
@media $windowSmall
  #main.homepage-main
    margin-top 56px

  .homepage-banners
    height calc(100vh - 56px)
    
    .homepage-banner .banner-text-container
      height calc(100% - 63px)
      transform none
      
      .banner-info-container
        .banner-info .bricksa-button
          margin 30px 0
      
  @media screen and (orientation: landscape)
    .homepage-banners
      #banners-carousel
        .arrow-next
          top 66%
      
      .homepage-banner .banner-text-container
        .banner-white-box
          width 208px
          
        .banner-info-container
          margin-left 30px
          position relative
          width 50%
          
         .banner-info
            position absolute
            top 50%
            transform translateY(-50%)
            
            .bricksa-button
              margin-bottom 0 !important

@media screen and (max-width: 320px)
  @media screen and (orientation: portrait)
    .homepage-banners
      #banners-carousel
        .arrow-next
          top 46.5%
          
      .homepage-banner .banner-text-container
        .banner-info-container
          text-align center
        
        .banner-info
          text-align left
          width 90% !important