.homepage-banners
  background $blue
  height calc(100vh - 95px)
  width 100%
  
  #banners-carousel
    height 100%
    width 100%
  
  .homepage-banner
    height 100%
    padding-top calc(50vh - 95px)
    position relative
    width 100%
    
    .banner-text-container
      align-items flex-end
      display flex
      height auto
      transform translateY(-50%)
      
      .banner-white-box
        background rgba(white, 80%)
        padding 30px
        width 255px
        
        p
          line-height 33px
          margin-bottom 0
          
          &::before
            background $darkBlue
            content ' '
            display block
            height 3px
            margin-bottom 15px
            margin-top 5px
            width 30px
            
      .banner-info-container
        flex-grow 1
        
        .banner-info
          color white
          flex-grow 1
          font-variant small-caps
          font-weight $fontBlack
          -center-block()
          width 200px
        
          .banner-title
            font-size 54px
            font-weight inherit
            line-height 1
            margin 0
          
          .banner-motto
            display inline-block
            r-font-size 'semibig'
            line-height 1
            
          .bricksa-button
            margin-bottom 20px
            margin-top 100px
      