.homepage-banners
  background $blue
  height calc(100vh - 95px)
  width 100%
  
  #banners-carousel
    height 100%
    width 100%
  
  .homepage-banner
    align-items stretch
    display flex
    height 100%
    position relative
    width 100%
    
    .banner-white-box-container
      width 290px
      
      .banner-white-box
        background rgba(white, 80%)
        margin-top calc(50vh - 95px)
        padding 25px
        transform translateY(-50%)
      
    .banner-info-container
      flex-grow 1
      
      .banner-info
        color white
        font-variant small-caps
        font-weight $fontBlack
        -center-block()
        margin-top calc(50vh - 95px)
        transform translateY(-50%)
        width 200px
        
        .banner-title
          font-size 54px
          font-weight inherit
          line-height 1
          margin 0
        
        .banner-motto
          display inline-block
          r-font-size 'semibig'
          line-height 1
      