.project-detail-section
  .project-cover
    background-blend-mode multiply
    background-color rgba(black, 0.1)
    height 60vh
    max-height 480px
    position relative
    
    .project-name
      bottom calc(-83px * 0.1)
      color white
      display block
      font-size 83px
      font-variant small-caps
      font-weight $fontBlack
      left calc(37vw + 86px)
      letter-spacing 3px
      line-height 0.7
      position absolute
      right 100px
      
  .project-overview
    display flex
    
    .project-logo
      background white
      width 37vw
      
      img
        display block
        -center-block()
        margin-bottom 60px
        margin-top 60px
        width 50%
        
    .project-text
      max-width calc(100% - 37vw)
      padding 40px 90px
      
      .project-description
        letter-spacing 1px
        line-height 1.6
        width 77%
        
      .project-characteristics
        &::before
          background $darkBlue
          content ' '
          display block
          height 4px
          margin-bottom 25px
          margin-top 35px
          width 33px
          
        p:not(:first-of-type)
          margin-top 15px
          
        .icons::before
          display inline-block
          font-size 25px
          vertical-align middle
          width 25px
          
        .characteristic-text
          display inline-block
          letter-spacing 1px
          line-height 1
          margin-left 8px
          vertical-align middle
          
  .project-video-section
    background white
    padding 56px 20px
    text-align center
    
    .video-container
      -center-block()
      margin-top 36px
      max-width 800px
      width 80%
      
  .project-characteristics-container
    display flex
    
    .characteristics
      background $darkBlue
      color white
      padding 60px 50px
      width 38vw
      
      .title
        display block
        font-size 41px
        font-variant small-caps
        font-weight $fontBlack
        text-align center
      
      .characteristics-list
        list-style none
        margin-left -40px
        margin-top 40px
        
        li:not(:first-child)
          margin-top 18px
        
      .icons::before
        display inline-block
        font-size 28px
        margin-right 25px
        text-align center
        vertical-align middle
        width 30px
        
      .icon-parking-lot::before
        font-size 15px

    .cover
      flex-grow 1
      max-width calc(100% - 38vw)
      
  .department-type-title
    background $darkBlue
    color white
    display block
    font-size 41px
    font-variant small-caps
    font-weight $fontBlack
    line-height 1
    padding 21px 50px
    
  .department-info-container
    display flex
    
    .department-info
      background $blue
      simple-border('right', 6px, #b0b8c2)
      color white
      flex-grow 1
      max-width calc(100% - 34vw)
      padding 60px
      
      .title
        font-size 20px
        font-weight $fontBlack
        
      .department-characteristics-list
        list-style none
        margin-left 80px
        margin-top 30px
        padding-left 0
        
      .department-characteristic-item
        display inline-block
        font-weight $fontMedium
        margin-top 5px
        width calc(50% - 10px)
      
    .department-brochure-section
      background #f2f2f2
      font-weight $fonrMedium
      padding 60px 20px
      text-align center
      width 34vw
      
      span
        display block
        -center-block()
        max-width 280px
        
      input
        background white
        border none
        display block
        line-height 0.9
        -center-block()
        margin-top 32px
        max-width 290px
        padding 10px
        text-align center
        width 90%
        
      .bricksa-button
        margin-top 40px
        padding 4px 30px
  
  .location-title-container
    background #f2f2f2

  .location-title
    background white
    simple-border('right', 6px, #b0b8c2)
    color $darkBlue
    display block
    font-size 41px
    font-variant small-caps
    font-weight $fontBlack
    line-height 0.9
    padding 33px 70px
    width calc(100% - 34vw)
    
  .location-container
    display flex
    
    .google-map
      flex-grow 1
      max-width calc(100% - 34vw)
      
    .text-container
      width 34vw