.project-detail-section
  .project-cover
    background-blend-mode multiply
    background-color rgba(black, 0.2)
    height 60vh
    max-height 480px
    position relative
    
    .project-name
      bottom 0
      color white
      display block
      font-size 83px
      font-variant small-caps
      font-weight $fontBlack
      letter-spacing 3px
      line-height 0.5
      position absolute
      right 100px