.projects-section
  .project-type-title
    -center-block()
    width 88%
    
    span
      background $darkGray
      color white
      display inline-block
      rc-font-size 27px 23px
      font-variant small-caps
      font-weight $fontBlack
      line-height 2.7em
      padding 0 20px
      text-align center
      
  &.finished-projects
    .project-type-title span
      width 400px
      
    .project-item-container .project-item .big-row
      .project-thumbnail
        flex-basis 400px
        height 500px
      
      .project-text
        max-width calc(100% - 400px)
        
        .project-title::after
          margin-top 26px
      
        .project-description
          margin-top 70px
    
  &.current-projects
    .project-type-title span
      width 340px
      
    .project-item-container .project-item .big-row
      .project-thumbnail
        flex-basis 340px
        height 370px
        
      .project-text
        max-width calc(100% - 340px)
        
        .project-title::after
          margin-top 12px
        
        .project-description
          margin-top 45px
      
  .project-item-container
    background white
    
    &:not(:first-child)
      margin-top 75px

    &:nth-child(even) .project-item-row
      flex-direction row-reverse
    
    .project-item
      color white
      -center-block()
      width 88%

      &-row
        align-items center
        display flex
        
        &.big-row
          background $blue
          
          .project-text
            padding 30px 80px

            .project-title
              rc-font-size 60px 40px 30px
              font-variant small-caps
              font-weight $fontBlack
              letter-spacing 2px
              line-height 0.84em
              margin 0
              max-width 450px
              
              &::after
                background white
                content ' '
                display block
                height 4px
                width 32px
              
            .project-description
              font-weight $fontBook
              line-height 1.85em
              max-width 75%
          
        &.small-row
          background $darkBlue
          
          .project-thumbnail
            min-height 265px
            width 360px
            
          .project-additional-info
            padding 80px 90px 80px 60px
            max-width calc(100% - 360px)
            
            >div
              align-items center
              display flex
            
            .project-characteristics
              flex-grow 1
              font-weight $fontBook
              
              &::before
                background white
                content ' '
                display block
                height 4px
                margin-bottom 20px
                width 32px
                
              p:not(:first-of-type)
                margin-top 15px
                
              .icons::before
                display inline-block
                font-size 25px
                vertical-align middle
                width 25px
                
              .characteristic-text
                display inline-block
                line-height 1
                margin-left 8px
                vertical-align middle
                
          
        >div:not(.project-thumbnail)
            flex-grow 1
          
@media screen and (max-width: 999px)
  .projects-section
    .project-type-title
      min-width 320px
      width 95%

    .project-item-container .project-item
      min-width 320px
      width 95%
      
@media screen and (max-width: 930px)
  .projects-section .project-item-container
    .project-item .project-item-row
      flex-wrap wrap
      
      .project-thumbnail,
      .project-text,
      .project-additional-info
        flex-basis 100% !important
        max-width initial !important
        width 100% !important
        
      &.big-row .project-thumbnail
        height 50vh
        max-height 400px
        
      &.small-row .project-thumbnail
        display none
      
@media $windowSmall
  .projects-section .project-type-title span
    min-width 320px
    padding 0 30px !important
    width auto !important

@media screen and (max-width: 570px)
  .projects-section .project-item-container
    .project-item .project-item-row
      flex-wrap wrap
      
      &.big-row .project-text
        padding 50px
        
        .project-title, .project-description
          -center-block()
          max-width initial
          min-width initial
          width 100%
          
        .project-title::after
          margin-top 18px
          
        .project-description
          margin-bottom 0
          margin-top 30px
          
      &.small-row .project-additional-info
        padding 50px
        
        >div
          -center-block()
          flex-wrap wrap
          max-width initial
          min-width initial
          width auto
          
        .project-characteristics
          margin-bottom 30px
          width 100%