.general-section.services
  .columns .title
    display block
    rc-font-size 30px 24px 22px
    line-height 1.2

  .big-row
    .big-column
      background white
      padding 36px 92px 60px 68px
      max-width 60%
      
      .title
        margin-bottom 30px
        margin-top 40px
      
      li::before
        background-image url('../img/logos/brick-blue-small-logo.png')
      
    .small-column
      width 40%
      
  .small-row
    .big-column
      background $darkBlue
      padding 45px 200px 40px 74px
      
      ul
        margin-top 30px
        
      li::before
        background-image url('../img/logos/brick-white-small-logo.png')
      
    .small-column
      background $blue
      position relative
      
      img
        bottom 40px
        display block
        opacity 0.49
        position absolute
        left 25%
        width 50%
        
  ul
    list-style none
    padding-left 0px
    
    li
      line-height 1.6
      
      &::before
        content ' '
        display inline-block
        background-repeat no-repeat
        background-size 12px
        height 17px
        margin-right 12px
        margin-top 1.5px
        width 12px
      
@media screen and (max-width: 930px)
  .general-section.services
    .big-row, .small-row
      .big-column
        padding 40px
        
    .big-row
      flex-wrap wrap-reverse
      
      .small-column
        height 50vh
        max-height 400px

    .small-row .small-column
      display none