.general-section.services
  .columns .title
    display block
    font-size 30px
    line-height 1.2

  .big-row
    .big-column
      background white
      padding 36px 92px 60px 68px
      max-width 60%
      
      .title
        margin-bottom 30px
        margin-top 40px
      
    .small-column
      width 40%
      
  .small-row
    .big-column
      background $darkBlue
      padding 45px 200px 40px 74px
      
      ul
        margin-top 30px
      
    .small-column
      background $blue