.general-section.services
  .columns .title
    display block
    font-size 30px
    line-height 1.2

  .big-row
    .big-column
      background white
      max-width 60%
      
    .small-column
      width 40%
      
  .small-row
    .big-column
      background $darkBlue
      
    .small-column
      background $blue