#footer
  width 100%
  
  &.homepage-footer
    bottom 0
    left 0
    position fixed
    width auto
    
  .footer-content
    background $darkGray
    color white
    padding 25px 50px 25px 25px
    
    .gray-text
      color lighten($gray, 25%)
      display block