#footer
  width 100%
  
  &.homepage-footer
    bottom 0
    left 0
    position fixed
    width auto
    
  .footer-content
    background $darkGray
    color white
    rc-font-size 13px 11px
    padding 25px 38px 20px 20px
    width 296px
    
    .gray-text
      color lighten($gray, 25%)
      display block
      rc-font-size 12px 10px
      margin-top 4px

.footer-social-link
  color lighten($gray, 25%)
  text-decoration none


      
@media $windowSmall
  #footer .footer-content
    padding 15px 18px
    width 238px