#navbar
  background $darkBlue
  rc-font-size 18px 18px
  height 70px
  left 0
  position fixed
  top 0
  width 100%
  z-index 10
  
  .logo-container
    display inline-block
    margin 8px 45px
    height 54px
    
    img
      height 100%
      width auto

  .menu-trigger
    cursor pointer
    display none

    .menu-trigger-line
      background white
      display block
      height 3px
      width 27px
      
      &:not(:first-child)
        margin-top 5px

  .menu-container
    float right
    height 100%
    margin-right 70px
              
    .logo-container
      display none

    .menu-list
      background transparent
      font-variant small-caps
      font-weight $fontBlack
      height 100%
      text-align center
      
      li
        display inline-block
        height 100%
        position relative
        
        &:not(:first-child)
          margin-left -4px
        
        a
          color white
          display block
          height 100%
          line-height 70px
          padding 0 15px
          
          &:hover
            background $darkGray

        &.active a
          background $darkGray
        
      .submenu-container
        width auto
        
        &:hover
          ul
            display inline-block
            
          >a
            background $darkGray

        ul
          display none
          rc-font-size 15px inherit
          left 0
          padding-left 0
          position absolute
          top 70px
          width 100%
          
          li
            display block
            margin 0
          
          a
            background $darkGray
            line-height 42px
            
            &:hover
              background $gray
              
@media $windowSmall
  #navbar
    height 56px
    
    >.logo-container
      display none
      
    .menu-trigger
      display block
      float right
      margin 18px
      
    .menu-container
      background $darkBlue
      height 100vh
      margin-right 0
      overflow-y auto
      position fixed
      right -280px
      top 0
      transition right 0.2s
      width 280px
      
      &.active
        right 0
      
      .logo-container
        display block
        margin 25px 30px 35px 30px
        
        &::after
          background white
          content ' '
          display block
          height 4px
          width 32px
          margin-top 15px
      
      .menu-list
        height auto
        padding-left 0
        text-align left
        
        li
          display block
          height auto
          
          a
            line-height 2.5em
            padding 0 30px
            
        .submenu-container
          ul
            display block
            margin-left 5%
            position relative
            top 0
            width 95%
            
            a
              background transparent