{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
Nostros
{% endblock %}
{% block content %}
<div class="general-section services">
  <div class="section-title">
    <span>nosotros</span>
  </div>
  <div class="section-content-wrapper">
    <div class="section-content">
      <div class="big-row cover">
        <h2 class="title">brick</h2>
      </div>
      <div class="small-row columns">
        <div class="big-column">
          <p>
          Brick Infraestructura  y Desarrollo SA de CV es una empresa joven con sede en Xalapa, Veracruz. Contamos con amplia experiencia en el ramo de la construcción y desarrollo inmobiliario, siempre buscando crear proyectos de alta calidad que generen un valor agregado a nuestros clientes y contribuyan al desarrollo de nuestra sociedad.
          </p>
          <p>
          Nuestro objetivo primordial es buscar la satisfacción integral de nuestros clientes, siempre buscando trabajar con un gran profesionalismo, honradez, calidad y eficacia. <br>
          Si tienes algún proyecto en mente, contáctanos! Te garantizamos la entrega de tu proyecto en tiempos cortos y precios fijos.
          </p>
        </div>
        <div class="small-column">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}