{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
Contacto
{% endblock %}
{% block content %}
<div class="general-section contact">
  <div class="section-title">
    <span>contacto</span>
  </div>
  <div class="section-content-wrapper">
    <div class="section-content columns">
      <div class="big-column">
        <form id="contact-form" class="contact-form" action="." method="post">
          {% csrf_token %}
          <label for="id_name">Nombre</label>
          <input id="id_name" type="text" name="name" >
          <label for="id_email">Correo electrónico</label>
          <input id="id_email" type="email" name="email" >
          <label for="id_message">Mensaje</label>
          <textarea id="id_message" name="message"></textarea>
          <button type="submit" class="bricksa-button">enviar</button>
        </form>
        <div class="contact-info">
          <div class="text">
            <span class="title">Datos de contacto de Stucco:</span>
             Avenida 39 Poniente No. 517 esquina con 5B Sur, Colonia Gabriel Pastor 1a Sección Puebla, Puebla.
            <span class="mail">info@stucco.mx </span>
            <span class="phone">(228) 812 5116</span>
          </div>
          <div class="embed-responsive embed-responsive-16by9 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.9319553779077!2d-98.21170194624688!3d19.031711570148023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc0c863502ebd%3A0x30da82705ba61c8a!2sCalle+39+Pte.+517%2C+Gabriel+Pastor+1ra+Secc%2C+72420+Puebla%2C+Pue.!5e0!3m2!1ses-419!2smx!4v1477446249178" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </div>
      <div class="small-column"></div>
    </div>
  </div>
</div>
{% endblock %}