{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
Contacto
{% endblock %}
{% block content %}
<div class="general-section contact">
  <div class="section-title">
    <span>contacto</span>
  </div>
  <div class="section-content-wrapper">
    <div class="section-content columns">
      <div class="big-column">
        <form class="contact-form" action="." method="post">
          {% csrf_token %}
          <label for="id_name">Nombre</label>
          <input id="id_name" type="text" name="name" >
          <label for="id_email">Correo electrónico</label>
          <input id="id_email" type="email" name="email" >
          <label for="id_message">Mensaje</label>
          <textarea id="id_message" name="message"></textarea>
          <button type="submit" class="bricksa-button">enviar</button>
        </form>
        <div class="contact-info">
          <div class="text">
            <span class="title">Datos de contacto de Brick:</span>
            Circuito Xolitla No. 204, Col. Vista Hermosa Ánimas C.P. 91190. Xalapa, Ver.
            <span class="mail">info@bricksa.mx</span>
            <span class="phone">(22) 8154 8756</span>
          </div>
          <div class="map"> </div>
        </div>
      </div>
      <div class="small-column"></div>
    </div>
  </div>
</div>
{% endblock %}