{% extends "base.html" %}
{% load static from staticfiles%}
{% load i18n %}
{% block content%}
  <div class="homepage-banners">
    <!-- SLICK -->
    <div id="banners-carousel">
      <div class="homepage-banner cover" style="background-image: url('{% static "img/homepage-cover.jpg"%}')">
        <div class="banner-text-container">
          <div class="banner-white-box">
            <p>
              Siempre buscando crear <b>proyectos de alta calidad</b> que generen un valor agregado a nuestros clientes y contribuyan al <b>desarrollo de nuestra sociedad.</b>
            </p>
          </div>
          <div class="banner-info-container">
            <div class="banner-info">
              <h2 class="banner-title">brick</h2>
              <span class="banner-motto">desarrollos verticales y vivienda</span>
              <a href="#" class="bricksa-button">conoce más</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
	<h1>Banners</h1>
	{% for banner in banners %}
		<hr>
		<p>{{ banner.project.name }}</p>
		<p>{{ banner.description }}</p>
		<p>{% trans banner.project.category %}</p>
		<img src="{{ banner.photo.url }}" width="200px">
		<hr>
	{% endfor %}
{% endblock %}