{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
Servicios
{% endblock %}
{% block content %}
<div class="general-section services">
  <div class="section-title">
    <span>servicios</span>
  </div>
  <div class="section-content-wrapper">
    <div class="section-content">
      <div class="big-row columns">
        <div class="big-column">a</div>
        <div class="small-column cover">b</div>
      </div>
      <div class="small-row columns">
        <div class="big-column">a</div>
        <div class="small-column">b</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}