{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
Servicios
{% endblock %}
{% block content %}
<div class="general-section services">
  <div class="section-title">
    <span>servicios</span>
  </div>
  <div class="section-content-wrapper">
    <div class="section-content">
      <div class="big-row columns">
        <div class="big-column">
          En Brick infraestructura y desarrollo nos enfocamos principalmente en desarrollos inmobiliarios y urbanización.
          <span class="title">Los alcances de nuestros proyectos son:</span>
          <ul>
            <li>Creación o determinación del concepto o desarrollo</li>
            <li>Estudio de mercado inmobiliario</li>
            <li>Análisis financiero</li>
            <li>Proyecto arquitectónico</li>
            <li>Gestorías ante dependencias pertinentes</li>
            <li>Construcción del proyecto o desarrollo inmobiliario</li>
            <li>Venta (Inmobiliaria)</li>
          </ul>
        </div>
        <div class="small-column cover"></div>
      </div>
      <div class="small-row columns">
        <div class="big-column">
          <span class="title">Llevamos a cabo proyectos inmobiliarios en los siguientes sectores:</span>
          <ul>
            <li>Vivienda media, residencial y residencial plus</li>
            <li>Desarrollos horizontales y verticales</li>
            <li>Oficinas</li>
            <li>Departamentos/condominios</li>
            <li>Usos mixtos</li>
            <li>Uso comercial</li>
            <li>Industrial</li>
            <li>Urbanización</li>
            <li>Fraccionamientos o comunidades habitacionales</li>
          </ul>
        </div>
        <div class="small-column"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}