{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
Servicios
{% endblock %}
{% block content %}
<div class="general-section services">
  <div class="section-title">
    <span>servicios</span>
  </div>
  <div class="section-content-wrapper">
    <div class="section-content">
      <div class="big-row columns">
        <div class="big-column">
          En Brick infraestructura y desarrollo nos enfocamos principalmente en desarrollos inmobiliarios y urbanización.
          <span class="title">Los alcances de nuestros proyectos son:</span>
          <ul>
            <li><span>Creación o determinación del concepto o desarrollo</span></li>
            <li><span>Estudio de mercado inmobiliario</span></li>
            <li><span>Análisis financiero</span></li>
            <li><span>Proyecto arquitectónico</span></li>
            <li><span>Gestorías ante dependencias pertinentes</span></li>
            <li><span>Construcción del proyecto o desarrollo inmobiliario</span></li>
            <li><span>Venta (Inmobiliaria)</span></li>
          </ul>
        </div>
        <div class="small-column cover" style="background-image: url({% static 'img/services_cover.png' %})"></div>
      </div>
      <div class="small-row columns">
        <div class="big-column">
          <span class="title">Llevamos a cabo proyectos inmobiliarios en los siguientes sectores:</span>
          <ul>
            <li><span>Vivienda media, residencial y residencial plus</span></li>
            <li><span>Desarrollos horizontales y verticales</span></li>
            <li><span>Oficinas</span></li>
            <li><span>Departamentos/condominios</span></li>
            <li><span>Usos mixtos</span></li>
            <li><span>Uso comercial</span></li>
            <li><span>Industrial</span></li>
            <li><span>Urbanización</span></li>
            <li><span>Fraccionamientos o comunidades habitacionales</span></li>
          </ul>
        </div>
        <div class="small-column">
          <img src="{% static 'img/logos/brick-gray-logo.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}