import_tree('./template')

body
  background $lighterGray
  font-family 'Avenir'
  r-font-size 'base'
  font-weight $fontBook
  
a,
a:hover,
a:active,
a:focus
  text-decoration none
  
#page-wrapper
  overflow-x hidden
  width 100%
  
#main
  margin-top 70px

  &.homepage-main
    margin-top 95px
    
.bricksa-button
  background transparent
  simple-border 'all', 2px, white
  color white
  display inline-block
  font-variant small-caps
  font-weight $fontMedium
  padding 10px 30px
  transition all 0.2s
  
  &:hover,
  &:active,
  &:focus
    background white
    color $darkBlue
  
  &.inverse
    border-color $darkBlue
    color $darkBlue
    
    &:hover,
    &:active,
    &:focus
      background $darkBlue
      color white
  