@font-face
  font-family 'Avenir'
  src url('../fonts/AvenirLTStd-Black.otf')
  font-weight $fontBlack
  font-style normal
@font-face
  font-family 'Avenir'
  src url('../fonts/AvenirLTStd-Book.otf')
  font-weight $fontBook
  font-style normal
@font-face
  font-family 'Avenir'
  src url('../fonts/AvenirLTStd-Medium.otf')
  font-weight $fontMedium
  font-style normal