{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
{{ project.name }}
{% endblock %}
{% block content %}
	<div class="project-detail-section">
		<div class="project-cover cover" style="background-image: url('{{ project.photo.url }}')">
			<span class="project-name">
				{{ project.name|lower }}
			</span>
		</div>
		<div class="project-overview">
			<div class="project-logo">
				{% if project.logo %}
				<img src="{{ project.logo.url }}" >
				{% endif %}
			</div>
			<div class="project-text">
				<p class="project-description">
					{{ project.description }}
				</p>
				<div class="project-characteristics">
					<p>
						{% if project.category == "Casa - Habitacion" %}
						<span class="icons icon-house-room"></span>
						{% elif project.category == "Departamento" %}
						<span class="icons icon-department"></span>
						{% elif project.category == "Oficina" %}
						<span class="icons icon-office"></span>
						{% elif project.category == "Comercial" %}
						<span class="icons icon-comercial-area"></span>
						{% elif project.category == "Fraccionamiento" %}
						<span class="icons icon-residential"></span>
						{% endif %}
						<span class="characteristic-text">{{project.category}}</span>
					</p>
					<p>
						{% if project.status == "En venta" %}
						<span class="icons icon-on-sale"></span>
						{% elif project.status == "Pre-venta" %}
						<span class="icons icon-presale"></span>
						{% elif project.status == "Vendido" %}
						<span class="icons icon-sold"></span>
						{% elif project.status == "En construcción" %}
						<span class="icons icon-in-construction"></span>
						{% elif project.status == "Terminado" %}
						<span class="icons icon-finished"></span>
						{% endif %}
						<span class="characteristic-text">{{project.status}}</span>
					</p>
				</div>
			</div>
		</div>
		
		<div class="project-video-section">
			{% if project.video %}
			Conoce más acerca del desarrollo
			<div class="video-container">
		    <div class="embed-responsive embed-responsive-16by9">
		      <iframe src="{{ project.video }}" class="embed-responsive-item"></iframe>
		    </div>
		  </div>
		  {% endif %}
		</div>
		
		<div class="project-characteristics-container">
			<div class="characteristics">
				<span class="title">acerca de</span>
				<ul class="characteristics-list">
					{% if project.number_departaments > 0 %}
					<li class="characteristic-item">
						<span class="icons icon-department"></span>
						{{ project.number_departaments }} Departamentos.
					</li>
					{% endif %}
					{% if project.construction_m2 > 0 %}
					<li class="characteristic-item">
						<span class="icons icon-building-size"></span>
						{{ project.construction_m2 }} m2 de construcción.
					</li>
					{% endif %}
					{% if project.parking_places > 0 %}
					<li class="characteristic-item">
						<span class="icons icon-parking-lot"></span>
						{% if project.parking_places == 1 %}
						1 cajón de estacionamiento.
						{% else %}
						{{ project.parking_places }} cajones de estacionamiento.
						{% endif %}
					</li>
					{% endif %}
					{% if project.guardhouse %}
					<li class="characteristic-item">
						<span class="icons icon-guardhouse"></span>
						Caseta de vigilancia.
					</li>
					{% endif %}
					{% if project.waiting_area %}
					<li class="characteristic-item">
						<span class="icons icon-living-room"></span>
						Área de espera para visitas.
					</li>
					{% endif %}
					{% if project.common_area %}
					<li class="characteristic-item">
						<span class="icons icon-illumination"></span>
						Área común con iluminación LED.
					</li>
					{% endif %}
					{% if project.dumpster_area %}
					<li class="characteristic-item">
						<span class="icons icon-dustbin-area"></span>
						Área para depósito de basura.
					</li>
					{% endif %}
					{% if project.roof_garden %}
					<li class="characteristic-item">
						<span class="icons icon-roof-garden"></span>
						Roof Garden.
					</li>
					{% endif %}
				</ul>
			</div>
			<div class="cover" style="background-image: url('{{ project.about_image.url }}')"></div>
		</div>
		<div id="project-carousel">
			{% for photo in photos %}
			<div class="project-thumbnail-item cover" style="background-image: url('{{photo.photo.url}}')"></div>
			{% endfor %}
		</div>
		<span class="department-type-title">
			departamento tipo
		</span>
		<div class="department-info-container">
			<div class="department-info">
				<span class="title">Cada departamento incluye:</span>
				<ul class="department-characteristics-list">
					<li class="department-characteristic-item">Recámaras con vestidor: 1</li>
					<li class="department-characteristic-item">Cocina integral</li>
					<li class="department-characteristic-item">Recámaras con clóset: 2</li>
					<li class="department-characteristic-item">Patio de servicio</li>
					<li class="department-characteristic-item">Baños completos: 2</li>
					<li class="department-characteristic-item">Terraza</li>
					<li class="department-characteristic-item">Sala</li>
					<li class="department-characteristic-item">Lugares de estacionamiento: 1</li>
					<li class="department-characteristic-item">Comedor</li>
				</ul>
			</div>
			<div class="department-brochure-section">
			 	{% if project.brochure.id %}
				<span>Descarga nuestro brochure para conocer mejor el desarrollo</span>
				{% else %}
				<span>Registrate para recibir noticias sobre este desarrollo</span>
				{% endif %}
				<form id="download-brochure-form">
					{% csrf_token %}
					<input type="email" name="email" id="download-brochure-email" placeholder="Correo electrónico">
					<input type="hidden" name="source" value="{{project.name}}">
        	<span id="download-brochure-span" style="display:block;"></span>
					{% if project.brochure.id %}
					<button id="download-brochure-button" class="bricksa-button inverse">descargar</button>
					{% else %}
					<button id="download-brochure-button" class="bricksa-button inverse">enviar</button>
					{% endif %}
				</form>
			</div>
		</div>
		{% if project.google_maps_link %}
		<div class="location-title-container">
			<span class="location-title">ubicación</span>
		</div>
		<div class="location-container">
			<div class="google-map">
				<div class="embed-responsive map-container">
				{% autoescape off %}
				{{ project.google_maps_link }}
				{% endautoescape %}
				</div>
			</div>
			<div class="text-container">
				<img src="{% static 'img/logos/brick-white-short-logo.png' %}" alt="">
				<span>
					{{ project.address }}
				</span>
			</div>
		</div>
		{% endif %}
		<div class="contact-container">
			<span>Contacta a un asesor para mayor información</span>
			<a href="#" class="bricksa-button inverse">contacto</a>
		</div>
	</div>
{% endblock %}
{% block after_scripts %}
<script>
	{% if project.brochure.id %}
  addBrochureListener('Brochure-{{project.name}}', {{project.brochure.id}});
  {% else %}
  addBrochureListener('Brochure-{{project.name}}', 0);
  {% endif %}
</script>
{% endblock %}