{% extends "base.html" %}
{% block title %}
{%if type == "current projects"%}Proyectos actuales{%else%}Proyectos terminados{%endif%}
{% endblock %}
{% block content %}
{% with type=request.GET.u %}
<div class="projects-section {%if type == "current projects"%}current-projects{%else%}finished-projects{%endif%}">
  <div class="project-type-title">
    <span>{%if type == "current projects"%}proyectos actuales{%else%}proyectos terminados{%endif%}</span>
  </div>
  <div class="projects-list">
    {% for project in projects %}
	<div class="project-item-container">
		<div class="project-item">
			<div class="project-item-row big-row">
				<div class="project-thumbnail cover" style="background-image: url('{{ project.thumbnail_1.url }}')"></div>
				<div class="project-text">
					<h3 class="project-title">{{ project.name|lower }}</h3>
					<p class="project-description">{{ project.brief_description }}</p>
				</div>
			</div>
			<div class="project-item-row small-row">
				<div class="project-additional-info">
					<div>
						<div class="project-characteristics">
							<p>
								{% if project.category == "Casa - Habitacion" %}
								<span class="icons icon-house-room"></span>
								{% elif project.category == "Departamento" %}
								<span class="icons icon-department"></span>
								{% elif project.category == "Oficina" %}
								<span class="icons icon-office"></span>
								{% elif project.category == "Comercial" %}
								<span class="icons icon-comercial-area"></span>
								{% elif project.category == "Fraccionamiento" %}
								<span class="icons icon-residential"></span>
								{% endif %}
								<span class="characteristic-text">{{project.category}}</span>
							</p>
							<p>
								{% if project.status == "En venta" %}
								<span class="icons icon-on-sale"></span>
								{% elif project.status == "Pre-venta" %}
								<span class="icons icon-presale"></span>
								{% elif project.status == "Vendido" %}
								<span class="icons icon-sold"></span>
								{% elif project.status == "En construcción" %}
								<span class="icons icon-in-construction"></span>
								{% elif project.status == "Terminado" %}
								<span class="icons icon-finished"></span>
								{% endif %}
								<span class="characteristic-text">{{project.status}}</span>
							</p>
						</div>
						<a href="{% url 'projects:project_detail' project.id %}" class="bricksa-button">ver proyecto</a>
					</div>
				</div>
				<div class="project-thumbnail cover" style="background-image: url('{{ project.thumbnail_2.url }}')"></div>
			</div>
		</div>
	</div>
	{% endfor %}
  </div>
</div>
{% endwith %}
{% endblock %}