{% extends "base.html" %}
{% block title %}
Proyectos
{% endblock %}
{% block content %}
	<h1>Lista de proyectos</h1>
	{% for project in projects %}
		<hr>
		<p>
			Nombre: {{ project.name }}
		</p>
		<p>
			Tipo de Proyecto: {{ project.project_type }}
		</p>
		<p>
			Breve descripcion: {{ project.brief_description }}
		</p>
		<p>
			Categoria: {{ project.category }}
		</p>
		<p>
			Status: {{ project.status }}
		</p>
		<p>Thumbnails</p>
		<p>
			<img src="{{ project.thumbnail_1.url }}" width="200px">
		</p>
		<p>
			<img src="{{ project.thumbnail_2.url }}" width="200px">
		</p>
		<hr>
	{% endfor %}
{% endblock %}