<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lista de proyectos</title>
</head>
<body>
	<h1>Lista de proyectos</h1>
	{% for project in projects %}
		<hr>
		<p>
			Nombre: {{ project.name }}
		</p>
		<p>
			Tipo de Proyecto: {{ project.get_project_type_display }}
		</p>
		<p>
			Breve descripcion: {{ project.brief_description }}
		</p>
		<p>
			Categoria: {{ project.category }}
		</p>
		<p>
			Status: {{ project.status }}
		</p>
		<p>Thumbnails</p>
		<p>
			<img src="{{ project.thumbnail_1.url }}" width="200px">
		</p>
		<p>
			<img src="{{ project.thumbnail_2.url }}" width="200px">
		</p>
		<hr>
	{% endfor %}
</body>
</html>